{% extends "layout.twig" %}

{% block content %}

    {% if errors %}
        {% include('partials/errors.twig')  %}
    {% endif %}
    <div class="container" align="center">
        <form class="form-signin" method="post" >
            <h3 class="form-signin-heading">Inicia sesión</h3>
            <div class="form-group">
                <label class="sr-only" for="inputCurp">CURP</label>
                <input class="form-control" type="text" name="curp" id="inputCurp" placeholder="CURP" required autofocus maxlength="18">
                <label class="sr-only" for="inputPassword">Contraseña</label>
                <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Contraseña" required maxlength="20">
            </div>

            <input class="btn btn-primary" type="submit" value="Inicia sesión">
        </form>

        <h4>¿Aún no tienes cuenta? <a href="{{ 'usuarios/signup' | url }}">Registrate aquí</a></h4>
        <a class="btn btn-default" href="{{ '' | url }}">Regresar</a>
    </div>
{% endblock %}
