{%  extends "layout.twig" %}

{% block content %}

    {% if errors %}
        {% include('partials/errors.twig')  %}
    {% endif %}

    {% if result %}
        <div class="alert alert-success">Usuario registrado! Est치 listo para
            <a href="{{ 'auth/login' | url }}">iniciar sesi칩n</a></div>
    {% else %}
        <div class="container">
            <form class="form-horizontal" method="post" onsubmit="return validateForm()">
                <h3 class="form-signin-heading">Registro de Nuevo usuario</h3>

                <div class="form-group">
                    <label class="col-sm-1 control-label" for="inputCurp">CURP</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" name="curp" id="inputCurp" required autofocus placeholder="CURP" maxlength="18" value="{{ curp }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label" for="inputmail">Email</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" name="email" id="inputmail" placeholder="Email" required value="{{ email }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label" for="inputPassword">Contrase침a</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="password" name="password" required placeholder="Contrase침a" id="inputPassword">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-7">
                        <button class="btn btn-primary" type="submit">Registrarse</button>
                    </div>
                </div>

            </form>
            <br>
            <a class="btn btn-default" href="{{ '' | url }}">Regresar</a>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        function validateForm() {
            var title = document.getElementById('inputCurp').value.trim();
            if (title === '') {
                swal(
                    'Oops...',
                    'Campo CURP es obligatorio...',
                    'error'
                );
                return false;
            }
        }
    </script>
{% endblock %}