
.blog-post-image img {
    width: 100%;
}

#inputCurp {
    width: 200px;
    outline: 0;
    margin-bottom: 10px;
}

#inputmail {
    width: 200px;
}

#inputPassword {
    width: 200px;
}

#table_inventario {
    font-family: 'Courier', sans-serif;
    font-size: 12px;
}

#th-center th {
    text-align: center;
}