<div class="alert alert-danger">
    <ul>
        {% for input, messages in errors %}
            {% for messages in messages %}
                <li>{{ messages }}</li>
            {% endfor %}
        {% endfor %}

        {% for messages in errors2 %}
                <li>{{ messages }}</li>
        {% endfor %}
    </ul>
</div>